<tbody class="text-dark">
    <% for(var i = 0; i < users.length; i++) { %>
        <tr id="user_<%= i %>" class="user-row" onclick="redirectToDetailsPage('<%= users[i].name %>', '<%= users[i].age %>', '<%= users[i].gender %>', '<%= users[i].consultation %>', '<%= users[i].imagei %>', '<%= users[i].imageo %>')">
        <td><%= i + 1 %></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].age %></td>
        <td><%= users[i].gender %></td>
        <td><%= users[i].consultation %></td>
        <td><img src="<%= users[i].imagei %>" alt="Input Image"></td>
        <td><img src="<%= users[i].imageo %>" alt="Segmented Image"></td>
    </tr>
    <% } %>
</tbody>

<script>
    function redirectToDetailsPage(name, age, gender, consultation, imagei, imageo) {
        console.log('Name:', name);
        console.log('Age:', age);
        console.log('Gender:', gender);
        console.log('Consultation:', consultation);
        console.log('Input Image:', imagei);
        console.log('Output Image:', imageo);
    
        // Redirect to details.html with the patient's details as URL parameters
        const queryString = `?name=${encodeURIComponent(name)}&age=${encodeURIComponent(age)}&gender=${encodeURIComponent(gender)}&consultation=${encodeURIComponent(consultation)}&inputImage=${encodeURIComponent(imagei)}&outputImage=${encodeURIComponent(imageo)}`;
        window.location.href = `details.html${queryString}`;
    }
    </script>
    

